#indexBackground {
  background-color: #f7b90e;
}



.iconos {
  padding: 15px;
}

.agrandarIconos {
  transition: 0.5s;
  transform:scale(1.01);
}

header{
  background-color:#f7b90e;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: black;
  color: white;
  padding: 10px 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

H1 {
  color: white;
  margin-top: 0%;
}



.buttonContact {
  background-color: white;
  border: solid;
  border-color:  #EBA519;
  border-radius: 10px;
  color: #EBA519;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-bottom: 40px;
  
}

.buttonContact:hover {
  background-color:  #EBA519;
  color: white;
}


.navBackgroundColor {
  background-color: #ffffff;
  border-bottom: solid black 1px;
}


nav.mainMenu a{
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  padding: 10px 3%;
  width: 26.9%;
  display: inline-block;
  text-align: center;
  transition: background-color 0,1s, color 0.5s;
  transition-timing-function: cubic-bezier(0.53, 0.41, 0.41, 0.65);
}

nav.mainMenu a:hover {
  background-color: white;
  color: #EBA519;
}

nav.mainMenu a.contactoNav {
  background-color: black;
  color:  white;
}

nav.mainMenu a.trabajosNav {
  background-color: black;
  color:  white;
}

nav.mainMenu a.bioNav {
  background-color: black;
  color:  white;
}


h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
}

input {
  width: 100%;
  padding: 12px 20px;
}

textarea {
  width: 100%;
  height: 100px;
}
input[type=submit]{
  width: 25%;
  background-color: #f7b90e;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

input[type=submit]:hover {
  background-color:  #f7b90e;
}

p {
  padding: 30px;
  text-align: center;
}


/* ------------ 360 o menos ------------ */
.wrapper {
  margin: 0 auto;
  width: 100%;
}

.sectionsContainer,
.articlesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.sectionIndex{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  padding: 60px;
}

/* De 361 a 960 */
@media screen and (min-width: 361px) {
  .wrapper {
    width: 360px;
  }

  .sectionsContainer {
    flex-direction: row;
    justify-content: center;
  }

  section {
    margin: 0 3%;
  }
}


/* 961 o mas  */
@media screen and (min-width: 961px) {
  .wrapper {
    width: 960px;
    margin: 0 auto;
  }

  .articlesContainer {
    flex-direction: row;
    justify-content: center;
  }
}